DB_PASSWORD=

JWT_SECRET=

FRONTEND_BASE_URL=http://localhost:8080

MAIL_USERNAME=
MAIL_PASSWORD=

SEPAY_API_KEY=

VIETQR_BANK_ID=techcombank
VIETQR_ACCOUNT_NO=52000000001
VIETQR_ACCOUNT_NAME="HOANG VAN TRUONG"
VIETQR_TEMPLATE=compact2
